
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {lager, "", {git, "git://github.com/basho/lager.git", "master"}}
       ,{jsx, "", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.5.2"}}}
       ,{hackney, "1.4.7", {git, "git://github.com/benoitc/hackney.git", {tag, "1.4.7"}}}
       ]}.
